<h1>Fighters list</h1>

<% @fighters.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |fighter| %>
      <div class="col-md-4">
        <%= image_tag fighter.picture_url, width: '100%' if fighter.picture.present? %>
        <h4><%= link_to fighter.name, fighter %></h4>
        <%= fighter.strength %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'New Fighter', new_fighter_path %>
