// Place all the styles related to the fighters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container a:hover {
  color: #f55e55;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  }

.container input[type="submit"] {
  height: 30px;
  font-size: 15px;
  background-color: #f55e55;
  border: none;
  color: #fff;
}

div .col-md-4 {
	margin-top: 10px;
	margin-bottom: 20px;
}
