// Place all the styles related to the fights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fight {
  h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .form-inline {
    margin-bottom: 30px;
  }

  div .form-group .mb-2 {
    padding-right: 40px;
  }

  table {
    margin-bottom: 20px;
  }
}

.pagination {
  .previous_page { background:#582f2f; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: yellow }
  .next_page { background: #582f2f; color: white }
  .next_page.disabled { background: white; color: #777 }
}
